p {
	font-family:Ubuntu, sans-serif;
}

#logo {
	
	width:304px;
	height:228px;
	margin: 0 auto;
	padding-top:120px;
	padding-bottom:50px;
	text-align: center;
}

#topBar{
	background-color: gray;
	border-style:solid;
	border-color:gray;
	height:50px;
}

#abouttext{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

body {
	background-color: #FFFFFF;
	font-family: Ubuntu, sans-serif;
}

/*site wide colors:
	purple: #C070A0;
	grey: #eeeeee; */
