p {
	font-family:Ubuntu, sans-serif;
}

#logo {
	
	width:304px;
	height:228px;
	margin: 0 auto;
	padding-top:120px;
	padding-bottom:50px;
}
#searchBoxDiv{
	position: relative;
	/* margin-left: 25%; */
	text-align:center;
	z-index: 10;
}
#searchBox{
	width: 30%;
	height:auto;
	}
	
#topBar{
	background-color: gray;
	border-style:solid;
	border-color:gray;
	height:50px;
}

#abouttext{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

body {
	background: -webkit-linear-gradient(90deg, #614385 10%, #516395 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #614385 10%, #516395 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #614385 10%, #516395 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #614385 10%, #516395 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #614385 10%, #516395 90%); /* W3C */
	font-family: Ubuntu, sans-serif;
}

/*site wide colors:
	purple: #C070A0;
	grey: #eeeeee; */
