.colorBody{
	background-color: #C070A0;
}

.grid{
	clear: both;
    margin: 0 auto;
    min-width: 1348px;
    overflow: hidden;
    text-align: left;
    width: 100%;
	background-color: #e1e1e1; /*color for searchbox area */
}

.authors{
	margin: 7px 0px;
}

#searchTable{
	margin: 0px 8px;
}
#searchTable .title {
	font-size: 1.108em;
}

#searchTable a, #searchTable a:link {
    color: #316c9d;
    text-decoration: none;
}

#searchTable a:hover{
	text-decoration: underline;
	cursor:ponter;
}

.arrowClick:before {content:url("../images/purpleDownArrow.png");}
.arrowSide:before {content:url("../images/purpleRightArrow.png");}

.authors a{
	color:black !important;
}

.abstractText:hover{
	cursor:pointer;
}

#searchTable .paperDiv{
	margin: 10px 15px;
}

#search-form{
	background: url(../images/bp.png) top center no-repeat;
	margin: 10px auto 10px;
	
}

#searchTableDiv{
	background-color: #eeeeee; /* color for results area */
}

.submit-container{
	position:relative;
}

.separator {
	width: 100%; 
	height: 1px; 
	background: gray; 
	overflow: hidden;
}

.searchInfo{
	padding-right: 40px;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../images/purpleDownArrow.png") no-repeat 90% 50%;
}

.select-style select:hover{
	cursor:pointer;
	border-style: solid;
	border-color: #C070A0;
	border-width: 1px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
