#signInForm input{
	height: 34px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 10px 0px;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.15) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	display:block;
}

#signInButton{
	cursor:pointer;
}

div.curFocus {
	background: #fdecb2;
}

#signInForm input[type=text], #signInForm input[type=password], #signInForm textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
#signInForm input[type=text]:focus,  #signInForm input[type=password]:focus, #signInForm textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}