p {
	font-family:Ubuntu, sans-serif;
}

#logo {
	width:304px;
	height:228px;
	margin: 0 auto;
	padding-top:120px;
	padding-bottom:200px;
	padding-right:195px;
	text-align: center;
	position:relative;
	bottom: 86px;
	right: 100px;
}

#indexButton{
	margin-top:10px;
}
#topBar{
	background-color: gray;
	border-style:solid;
	border-color:gray;
	height:50px;
}

#alerttext{
	margin-bottom: 20px;
	padding-bottom: 20px;
	display: inline-block;
}

#contacttext {
	margin-top: 30%;
	margin-left:20%;
	margin-right:20%;
}

body {
	/* background-color: #FFFFFF; */
	background-repeat: no-repeat;
    background-image: url("../images/blueBack.jpg");
	font-family: Ubuntu, sans-serif !important;
}


.separator {
	height: 1px;
	background: #92948E;
	overflow: hidden;
}

.verticalSeparator {
	width: 1px;
	background: #92948E;
	overflow: hidden;
}
