p {
	font-family:Ubuntu, sans-serif;
}

.navigation{
	width: 98%;
	margin: auto;
	margin-top: 8px;
}
 .btn.btn-primary {
	background-color: #5a5699 !important;
}


.appnitro input{
	box-sizing: content-box;
}

.failedSignIn{
	margin-top:23px;
}

#incompleteRegister{
	margin-left: 15px;
	margin-top:2px;
	color:red;
}

#signInForm{
	height: 130px;
}

#signInForm input{
	box-sizing: content-box;
}

#logo {
	width:304px;
	height:228px;
	margin: 0 auto;
	margin-top:120px;
	padding-bottom:200px;
	padding-right:195px;
	text-align: center;
	position:relative;
	bottom: 86px;
	right: 100px;
}

#indexButton{
	margin-top:10px;
}

#registerFormDiv #guide_4{
margin-left: 83px;
}

#topBar{
	background-color: gray;
	border-style:solid;
	border-color:gray;
	height:50px;
}

#closeRegister{
	margin-left:100px;
	margin-top:10px;
}

#registerComplete{
	font-size: 14px;
}

#alerttext{
	margin-bottom: 20px;
	padding-bottom: 20px;
	display: inline-block;
}

#alerttext a{
	color: ##337ab7;
	text-decoration:underline;
}

#contacttext {
	margin-top: 30%;
	margin-left:20%;
	margin-right:20%;
}

body {
	/* background-color: #FFFFFF; */
	background-repeat: no-repeat;
    background-image: url("../images/blueBack.jpg");
	font-family: Ubuntu, sans-serif !important;
}


.separator {
	height: 1px;
	background: #92948E;
	overflow: hidden;
}

.verticalSeparator {
	width: 1px;
	background: #92948E;
	overflow: hidden;
}
