.colorBody {
    background-color: #C070A0;
    padding-bottom: 50px;
}

body {
    background-size: cover !important;
}

.grid {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    height: auto;
    /* background-color: #e1e1e1; /*color for searchbox area */
    background-color: #eeeeee;
    /* color for results area */
}

.paperOptions {
    position: relative;
    width: 20%;
    height: auto;
    top: 0px;
    left: 30px;
}

.paperCol {
    width: 80%;
    position: relative;
    left: 20%;
    top: 0px;
    padding-right: 10px;
}

.authors a {
    color: black !important;
}

.abstractText {
    position: relative;
    top: -15px;
    padding-right: 50px;
}

.abstractHead {
    font-size: 14;
    font-weight: bold;
}

.abstractHeadText {
    margin: 9px 0px 14px !important;
}

.abstract {
    position: relative;
    margin-top: 23px;
}

.school,
.date {
    font-style: italic;
    margin-top: 0px;
}

.date {
    margin-bottom: 0px !important;
    margin-top: -9px;
}

.caption {
    font-size: 12px;
}

.downloadPDF {
    position: absolute;
    top: 8px;
    border-color: black;
    border-style: ridge;
    border-width: 1px;
    padding: 3px;
}

.paperDiv {
    margin-bottom: 19px;
}

#pdfDown {
    color: white !important;
}

.downloadPDF img {
    position: relative;
    margin-top: -1px;
    margin-right: 5px;
}

#pdf-container {
    padding-bottom: 50px !important;
}

#editPaper {
    position: relative;
    left: 90%;
    top: 10px;
}

#paperDiv a,
#paperDiv a:link {
    color: #316c9d;
    text-decoration: none;
}

#paperDiv a:hover {
    text-decoration: underline;
    cursor: ponter;
}

#paperDiv {
    position: relative;
}