body {
    background: white;
}

.colorBody {
    background-color: #5a5699;
}


/* no close button for dialog boxes on submit page */

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.grid {
    clear: both;
}

.grid {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 100%;
    background-color: white;
}

.linkStyle {
    color: #1a0dab !important;
}

.linkStyle:hover {
    text-decoration: underline;
}

#element_3 {
    width: 755px;
    height: 31px;
}

#incompleteSubmit {
    width: 100px;
    position: absolute;
    left: 120px;
    top: 1px;
    color: black;
    font-weight: bold;
    font-size: 10px;
}

#ui-id-4 {
    width: 600px;
}

#keywordsDiv ul.tagit input[type="text"] {
    outline: medium none !important;
    border: medium none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: inherit !important;
}

#keywordsDiv ul.tagit input[type="text"] {
    outline: medium none !important;
    border: medium none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: inherit !important;
}

#keywordsDiv ul.tagit li {
    list-style: outside none disc !important;
    width: auto !important;
}

#keywordTags {
    overflow: hidden !important;
}

ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: block !important;
}

.tagit-label {
    padding: 0px !important;
}

#title,
#instInput {
    width: 777px !important;
}

#authorsDiv ul.tagit input[type="text"] {
    outline: medium none !important;
    border: medium none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: inherit !important;
}

#authorsDiv ul.tagit li {
    list-style: outside none disc !important;
    width: auto !important;
}

#authorsDiv td label {
    color: #222222 !important;
}

#authorTags {
    overflow: hidden !important;
}

#form_container .required:after {
    content: " *";
    color: red;
}

#form_container .required:after {
    content: " *";
    color: red;
}

#element_1-button {
    padding: 0px;
}

#separateSignIn {
    top: 0px !important;
}

.ui-icon-circle-triangle-s {
    padding: 0px;
}

#li_2 label {
    margin-top: 10px;
}

label {
    margin-left: 2px;
}

.addAuthors,
.addImages {
    font-size: 11px;
    margin-left: 8px;
}

form input[type=text],
form input[type=password],
form textarea,
#li_4 input {
    /*   -webkit-transition: all 0.30s ease-in-out !important;
  -moz-transition: all 0.30s ease-in-out !important;
  -ms-transition: all 0.30s ease-in-out !important;
  -o-transition: all 0.30s ease-in-out !important; */
    outline: none !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD !important;
    width: 214px !important;
    font-size: small !important;
}


/* blue halo */

form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus,
.tagit-new input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1) !important;
}

#subjectTable tr td:empty {
    width: 50px;
}

#subjectTable tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#subjectDiv label {
    font-weight: normal;
}

.pdfClass label {
    font-weight: normal;
}

#li_4 input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
    padding: 3px 0px 3px 3px;
    border: 1px solid rgba(81, 203, 238, 1) !important;
}


/* end blue hao */

.text {
    height: 20px !important;
}

.text,
.textarea {
    padding: 6px 12px !important;
}

#element_14-error {
    font-size: 9px;
}

#form_1039889 input.error,
#form_1039889 select.error,
textarea.error {
    /* background: #ffa9b8 none repeat scroll 0 0; */
    border: 1px solid red !important;
}

#keywordsDiv ul.error {
    border: 1px solid red !important;
}

#authorsDiv ul.error {
    border: 1px solid red !important;
}


/*#form_1039889 input[type="text"], #form_1039889 input[type="password"], #form_1039889 textarea {*/


/*=======*/

#form_1039889 input[type="text"],
#form_1039889 input[type="password"],
#form_1039889 textarea {
    margin: 5px 1px 3px 0;
    outline: medium none;
    padding: 3px 0 3px 3px;
    transition: all 0.3s ease-in-out 0s;
}

#form_1039889 input {
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.15) inset;
    display: block;
    line-height: 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#form_1039889 label.error {
    color: #f00;
    display: block;
    font-weight: bold;
}

input.text {
    background: #fff url("../images/shadow.gif") repeat-x scroll center top;
    border-color: #7c7c7c #c3c3c3 #ddd;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-size: 100%;
    margin: 0;
    padding: 2px 0;
}

.spawnedImage {
    size: 359px !important;
    margin-left: -7px !important;
}

.spawnedBrowse {
    margin-left: -7px !important;
}

.captionPic {
    width: 359px !important;
}

.fixOffset {
    margin-left: 11px;
}

.add,
.remove {
    text-decoration: none;
    color: blue;
}

.add:hover,
.remove:hover {
    text-decoration: underline;
}

.spawnFirst,
.spawnLast,
.text {
    height: 17px;
}

#converted {
    height: 40px;
    width: 145px;
    font-size: small !important;
}

#form_container {
    background: white;
    text-align: left;
    width: 1333px;
}

#top {
    display: block;
    height: 10px;
    margin: 7% auto 0;
    width: 650px;
}

#footer {
    width: 640px;
    clear: both;
    color: #999999;
    text-align: center;
    padding-bottom: 15px;
    font-size: 85%;
}

#footer a {
    color: #999999;
    text-decoration: none;
    border-bottom: 1px dotted #999999;
}

#bottom {
    display: block;
    height: 10px;
    margin: 0 auto;
    width: 650px;
}

form.appnitro {
    margin: 20px 20px 0;
    padding: 0 0 20px;
}


/**** Logo Section  *****/

h1 {
    margin: 0;
    min-height: 0;
    padding: 0;
    text-decoration: none;
    /*text-indent:-8000px;*/
}

h1 a {
    display: block;
    height: 100%;
    min-height: 40px;
    overflow: hidden;
}

img {
    behavior: url(css/iepngfix.htc);
    border: none;
}


/**** Form Section ****/

.appnitro {
    font-family: Ubuntu, Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
    font-size: small;
}

.appnitro li {
    width: 61%;
}

form ul {
    font-size: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

form li {
    display: block;
    margin: 0;
    padding: 4px 5px 2px 9px;
    position: relative;
}

form li:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.submitButtons:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.submitButtons {
    clear: both;
    display: block;
    margin-top: 10px;
}

* html form li {
    height: 1%;
}

* html .submitButtons {
    height: 1%;
}

* html form li div {
    display: inline-block;
}

form li div {
    color: #444;
    margin: 0 4px 0 0;
    padding: 0 0 8px;
}

form li span {
    color: #444;
    float: left;
    margin: 0 4px 0 0;
    padding: 0 0 8px;
}

form li div.left {
    display: inline;
    float: left;
    width: 48%;
}

form li div.right {
    display: inline;
    float: right;
    width: 48%;
}

form li div.left .medium {
    width: 100%;
}

form li div.right .medium {
    width: 100%;
}

.clear {
    clear: both;
}

form li div label {
    clear: both;
    color: #444;
    display: block;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    padding-top: 3px;
}

form li span label {
    clear: both;
    color: #444;
    display: block;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    padding-top: 3px;
}

form li .datepicker {
    cursor: pointer !important;
    float: left;
    height: 16px;
    margin: .1em 5px 0 0;
    padding: 0;
    width: 16px;
}

.form_description {
    border-bottom: 1px dotted #ccc;
    clear: both;
    display: inline-block;
    margin: 0 0 1em;
}

.form_description[class] {
    display: block;
}

.form_description h2 {
    clear: left;
    font-size: 160%;
    font-weight: 400;
    margin: 0 0 3px;
}

.form_description p {
    font-size: 95%;
    line-height: 130%;
    margin: 0 0 12px;
}

form hr {
    display: none;
}

form li.section_break {
    border-top: 1px dotted #ccc;
    margin-top: 9px;
    padding-bottom: 0;
    padding-left: 9px;
    padding-top: 13px;
    width: 97% !important;
}

form ul li.first {
    border-top: none !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

form .section_break h3 {
    font-size: 110%;
    font-weight: 400;
    line-height: 130%;
    margin: 0 0 2px;
}

form .section_break p {
    font-size: 85%;
    margin: 0 0 10px;
}


/**** Buttons ****/

input.button_text {
    overflow: visible;
    padding: 0 7px;
    width: auto;
}

.submitButtons input {
    font-size: 120%;
    margin-right: 5px;
}


/**** Inputs and Labels ****/

label.description {
    border: none;
    color: #222;
    display: block;
    font-size: 95%;
    font-weight: 700;
    line-height: 150%;
    padding: 0 0 1px;
}

span.symbol {
    font-size: 115%;
    line-height: 130%;
}

input.text {
    background: #fff url(images/shadow.gif) repeat-x top;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #7c7c7c;
    color: #333;
    font-size: 100%;
    margin: 0;
    padding: 2px 0;
}

input.file {
    color: #333;
    font-size: 100%;
    margin: 0;
    padding: 2px 0;
}

textarea.textarea {
    background: #fff url(../images/shadow.gif) repeat-x top;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #7c7c7c;
    color: #333;
    font-family: Ubuntu, "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 100%;
    margin: 0;
    width: 99% !important;
}

select.select {
    color: #333;
    font-size: 100%;
    margin: 1px 0;
    padding: 1px 0 0;
    background: #fff url(images/shadow.gif) repeat-x top;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #7c7c7c;
}

input.checkbox {
    display: block;
    height: 13px;
    line-height: 1.4em;
    margin: 6px 0 0 3px;
    width: 13px;
}

input.radio {
    display: block;
    height: 13px;
    line-height: 1.4em;
    margin: 6px 0 0 3px;
    width: 13px;
}

label.choice {
    color: #444;
    display: block;
    font-size: 100%;
    line-height: 1.4em;
    margin: -1.55em 0 0 25px;
    padding: 4px 0 5px;
    width: 90%;
}

select.select[class] {
    margin: 0;
    padding: 1px 0;
}

*:first-child + html select.select[class] {
    margin: 1px 0;
}

.safari select.select {
    font-size: 120% !important;
    margin-bottom: 1px;
}

input.small {
    width: 25%;
}

select.small {
    width: 25%;
}

input.medium {
    width: 50%;
}

select.medium {
    width: 50%;
}

input.large {
    width: 99%;
}

select.large {
    width: 100%;
}

textarea.small {
    height: 5.5em;
}

textarea.medium {
    height: 10em;
}

textarea.large {
    height: 20em;
}


/**** Errors ****/


/**** Guidelines and Error Highlight ****/

form .guidelines {
    background: #f5f5f5;
    border: 1px solid #e6e6e6;
    color: #444;
    font-size: 80%;
    left: 105% !important;
    line-height: 130%;
    margin: 0 0 0 8px;
    padding: 8px 10px 9px;
    position: absolute;
    visibility: hidden;
    width: 42%;
    z-index: 1000;
}

#guide_1 {
    /* abstract guide */
    top: 39px !important;
}

#guide_2 {
    /* keywords guide */
    top: 28px !important;
}

form .guidelines small {
    font-size: 105%;
}

form li.highlighted .guidelines {
    visibility: visible;
}

form li:hover .guidelines {
    visibility: visible;
}

.no_guidelines .guidelines {
    display: none !important;
}

.no_guidelines form li {
    width: 97%;
}

.no_guidelines li.section {
    padding-left: 9px;
}


/*** Success Message ****/

.form_success {
    clear: both;
    margin: 0;
    padding: 90px 0pt 100px;
    text-align: center
}

.form_success h2 {
    clear: left;
    font-size: 160%;
    font-weight: normal;
    margin: 0pt 0pt 3px;
}


/*** Password ****/

ul.password {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.password h2 {
    color: #DF0000;
    font-weight: bold;
    margin: 0pt auto 10px;
}

.password input.text {
    font-size: 170% !important;
    width: 380px;
    text-align: center;
}

.password label {
    display: block;
    font-size: 120% !important;
    padding-top: 10px;
    font-weight: bold;
}

#li_captcha {
    padding-left: 5px;
}

#li_captcha span {
    float: none;
}


/** Embedded Form **/

.embed #form_container {
    border: none;
}

.embed #top,
.embed #bottom,
.embed h1 {
    display: none;
}

.embed #form_container {
    width: 100%;
}

.embed #footer {
    text-align: left;
    padding-left: 10px;
    width: 99%;
}

.embed #footer.success {
    text-align: center;
}

.embed form.appnitro {
    margin: 0px 0px 0;
}