[Desktop Entry]
Encoding=UTF-8
Name=Link to https://raw.githubusercontent.com/jeshaitan/jeshaitan.github.io/6e1b97aa5a947e6597f0a19131aa91b0ab9b5cc3/css/images/ui-bg_diagonals-thick_20_666666_40x40.png
Type=Link
URL=https://raw.githubusercontent.com/jeshaitan/jeshaitan.github.io/6e1b97aa5a947e6597f0a19131aa91b0ab9b5cc3/css/images/ui-bg_diagonals-thick_20_666666_40x40.png
Icon=image-png
Name[en_US]=ui-bg_diagonals-thick_20_666666_40x40.png
